
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TempDataFour</title>
</head>
<body>
    <div>
        <em>Get Data - @ViewBag.myKey</em>
    </div>
</body>
</html>
