<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="margin-top: -50px;">
    <div class="container-fluid">
        <a class="nav-link active" href="#">
            @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <span class="visually-hidden">(current)</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a>@Html.ActionLink("Home", "Index", "Home", new { @class = "nav-link" })</a>
                </li>
                <li class="nav-item">
                    <a>@Html.ActionLink("About", "About", "Home", new { @class = "nav-link" })</a>
                </li>
                <li class="nav-item">
                    <a>@Html.ActionLink("Contact", "Contact", "Home", new { @class = "nav-link" })</a>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-sm-2" type="text" placeholder="Search">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
